/.gradle/
.gradle
.gradle-cache
.gradle-user-home
/build/
/.idea/
local.properties
*.iml
*.apk
*.aab
/app/build/
/core/common/build/
/core/data/build/
/core/designsystem/build/
/core/model/build/
/core/network/build/
/core/testing/build/
/feature/races/build/
.DS_Store
